/* Deck.css */

.deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.deck-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.deck-card{
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 150px; /* Set a fixed width for the cards */
    height: 200px; /* Set a fixed height for the cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .deck-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} */

.deck-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.deck-card-content {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 0 8px;
}